# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
chroma_db/
pdfs/
__pycache__/
*.pyc

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
